body{
   background-image: url("http://images2.fanpop.com/image/photos/9700000/Eminem-eminem-9776757-1280-1024.jpg");
   background-size: 1370px
}
h1{
   Text-align:center;
   color:White;
}
h2{
   color:white;
}
.Albums{
   width:100px;
   
}